include ../mixins/img

block vars

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="fr"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
html(lang='fr')
    include ../components/head
    body(class= page__class !== undefined ? page__class : null)
        #container-0.container-0
            .container-2
                block content__pre
                .container-1.page__content
                    block content
            include ../components/footer
        span(style='height:0;overflow:hidden;')
            block content__post
        span#shadow(style='display:none')
            include ../components/foot

    // Website v@@version.