@mixin respond-to($media) {
  @if $media == browser {
    @media all and (display-mode: browser) { @content; }
  }
  @else if $media == standalone {
    @media all and (display-mode: standalone) { @content; }
  }
  @else if $media == not-xlarge {
    @media only screen and (min-width: $responsive--xlarge+1) { @content; }
  }
  @else if $media == xlarge {
    @media only screen and (max-width: $responsive--xlarge) { @content; }
  }
  @else if $media == only-xlarge {
    @media only screen and (max-width: $responsive--xlarge) and (min-width: $responsive--large+1) { @content; }
  }
  @else if $media == not-large {
    @media only screen and (min-width: $responsive--large+1) { @content; }
  }
  @else if $media == large {
    @media only screen and (max-width: $responsive--large) { @content; }
  }
  @else if $media == only-large {
    @media only screen and (max-width: $responsive--large) and (min-width: $responsive--medium+1) { @content; }
  }
  @else if $media == not-medium {
    @media only screen and (min-width: $responsive--medium+1) { @content; }
  }
  @else if $media == medium {
    @media only screen and (max-width: $responsive--medium) { @content; }
  }
  @else if $media == only-medium {
    @media only screen and (max-width: $responsive--medium) and (min-width: $responsive--small+1) { @content; }
  }
  @else if $media == not-small {
    @media only screen and (min-width: $responsive--small+1) { @content; }
  }
  @else if $media == small {
    @media only screen and (max-width: $responsive--small) { @content; }
  }
  @else if $media == only-small {
    @media only screen and (max-width: $responsive--small) and (min-width: $responsive--xsmall+1) { @content; }
  }
  @else if $media == small-portrait {
    @media only screen and (max-width: $responsive--small) and (orientation:portrait) { @content; }
  }
  @else if $media == small-landscape {
    @media only screen and (max-width: $responsive--small) and (orientation:landscape) { @content; }
  }
  @else if $media == not-xsmall {
    @media only screen and (min-width: $responsive--xsmall+1) { @content; }
  }
  @else if $media == xsmall {
    @media only screen and (max-width: $responsive--xsmall) { @content; }
  }
}