$transition-in--time: 60ms;
$transition-in--timing: ease-in;
$transition-in--long--time: 520ms;
$transition-in--long--timing: linear;
$transition-out--time: 140ms;
$transition-out--timing: linear;

$bottom-divider--color: color('grey', 'lighten-3');

$border-radius: 2px;


.hidden {
  display: none;
}

%didiver {
  position: relative;
  overflow: visible;

  &:after {
    @include rem(width, 10px);
    @include rem(height, 10px);
    @include rem(margin-left, -5.5px);

    display: block;
    content: '';
    border: 1px solid $bottom-divider--color;
    position: absolute;
    left: 50%;
    background: #fff;
    border-radius: 100%;
  }
}

%divider--top {
  //@extend %didiver;

  border-top: 1px solid $bottom-divider--color;

  &:after {
    @include rem(top, -5.5px);
  }
}

%divider--bottom {
  //@extend %didiver;

  border-bottom: 1px solid $bottom-divider--color;

  &:after {
    @include rem(bottom, -5.5px);
  }
}

@mixin util__border-radius {
  @include border-radius($border-radius);
}

@mixin util__border-radius--t {
  @include border-top-radius($border-radius);
}

@mixin util__border-radius--b {
  @include border-bottom-radius($border-radius);
}

%util__border-radius {
  @include util__border-radius;
}

%util__border-radius--t {
  @include util__border-radius--t;
}

%util__border-radius--b {
  @include util__border-radius--b;
}

@mixin transition-in {
  @include transition(all $transition-in--time $transition-in--timing);
}

@mixin transition-out {
  @include transition(all $transition-out--time $transition-out--timing);
}

@mixin transition-long-in {
  @include transition(all $transition-in--long--time $transition-in--long--timing);
}

@mixin transition-long-out {
  @include transition(all 680ms ease-out);
}

@mixin transition-none {
  @include transition(none);
}

%transition-in {
   @include transition-in;
 }

%transition-out {
  @include transition-out;
}

%transition-long-in {
  @include transition-long-in;
}

%transition-long-out {
  @include transition-long-out;
}

%transition-none {
  @include transition-none;
}

/**
* Empêche la sélection d'un contenu par l'utilsiateur, affiche également un pointeur par défaut.
*/
%disallow-select {
  @include user-select(none);

  //cursor: default;
}

/**
 * Gradient après un texte qui dépasse.
 */
@mixin text-ellipsis($color) {
  overflow: hidden;
  position: relative;
  white-space: nowrap;

  &:after {
    @include background(linear-gradient(to right, rgba(#fff, 0), $color) !important);

    bottom: 0;
    content: '' !important;
    height: 100%;
    max-height: 100%;
    position: absolute;
    right: 0;
    visibility: visible !important;
    width: 46px;
    z-index: 1;
  }
}

%transition-responsive-global {
  @include transition(all 220ms ease-in);
}
