.container {
  width: 100%;
  margin: 0 auto;
}

.container__inner {
  @include rem(margin, 0 48px);
}

.container-0 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  background-color: $container-0--bg;
}

.container-1 {
  z-index: 1;

  margin: var(--container-1--padding-t) 0 var(--container-1--padding-b) 0;
}

body {
  --container-1--padding-t: 32px;
  --container-1--padding-t: rem(32px);
  --container-1--padding-b: var(--container-1--padding-t);

  &.container-1--no-margin-t {
    .container-1 {
      margin-top: 0;
    }
  }

  &.container-1--no-margin-b {
    .container-1 {
      margin-bottom: 0;
    }
  }
}

.container-2 {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
}

@include respond-to(not-xlarge) {
  .container {
    @include rem(max-width, 1410px);
  }
}

@include respond-to(only-xlarge) {
  .container {
    @include rem(max-width, 1120px);
  }
}

@include respond-to(only-large) {
  .container {
    max-width: 89%;
  }
}

@include respond-to(only-medium) {
  .container {
    max-width: 92%;
  }

  .container__inner {
    @include rem(margin, 0 32px);
  }
}

@include respond-to(only-small) {
  .container {
    max-width: 100%;
  }

  .container__inner {
    @include rem(margin, 0 24px);
  }
}

@include respond-to(xsmall) {
  .container {
    max-width: 100%;
  }

  .container__inner {
    @include rem(margin, 0 16px);
  }
}