link(href='css/app.css?v=@@version', rel='stylesheet')

block foot--includes

script(src='js/app.js?v=@@version', charset='utf-8')

script.
    WebFontConfig = {
        google: {
            families: ['Droid+Sans:400,700', 'Roboto+Mono:700', 'Bungee:400']
        },
        timeout: 5000,
        events: false
    };

    (function(d) {
        var wf = d.createElement('script'), s = d.scripts[0];
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.async = true;
        s.parentNode.insertBefore(wf, s);
    })(document);

script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject'] = r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', _global.analytics.google.id, 'auto');
    ga('send', 'pageview');